/*
Currently appears before semantic so cannot override anything
*/

body {
  margin: 1em;
}

/*
  Deal with line breaks without fussing with <br /> or <p></p> tags.
*/
.description {
  white-space: pre-wrap;
}

footer {
  border-top: 1px #ECECEC solid;
  margin: 1em;
  padding: 0.5em;
}
